In [1]:
from llm_elicited_priors.datasets import (
    load_fake_data, load_uti, load_breast_cancer, 
    load_heart_disease, load_sk_diabetes, load_hypothyroid,
)

## Fake data:

In [2]:
dataset = load_fake_data()

In [3]:
dataset.feature_names

array(['feature 0', 'feature 1', 'feature 2'], dtype=object)

In [4]:
dataset.target_names

array(['target'], dtype='<U6')

In [5]:
dataset.frame.describe()

        feature 0   feature 1   feature 2      target
count  250.000000  250.000000  250.000000  250.000000
mean    -0.040335   -0.057954   -0.037685   -0.059380
std      1.020356    0.976924    0.959565    2.315106
min     -2.964529   -2.409922   -2.566658   -6.272688
25%     -0.719637   -0.814574   -0.686765   -1.667914
50%     -0.073336   -0.087925    0.091005   -0.081608
75%      0.634185    0.485746    0.551376    1.543420
max      2.327653    2.913862    2.905067    5.981182

## UTI data:

In [6]:
dataset = load_uti()

In [7]:
dataset.feature_names

array(['bathroom frequency', 'bedroom frequency',
       'night time awake frequency', 'mean night time heart rate',
       'standard deviation of night time heart rate',
       'mean night time respiratory rate',
       'standard deviation of night time respiratory rate',
       'night time bathroom frequency', 'daytime bathroom frequency',
       'number of previous urinary tract infections',
       'sex (male = 0, female = 1)'], dtype='<U49')

In [8]:
dataset.target_names

array(['no urinary tract infection', 'urinary tract infection'],
      dtype='<U26')

## Heart Disease data:

In [9]:
dataset = load_heart_disease()

In [10]:
dataset.feature_names

array(['age', 'sex (1 = male, 0 = female)',
       'resting blood pressure (on admission to the hospital)',
       'serum cholestoral in mg/dl',
       'fasting blood sugar > 120 mg/dl (1 = true, 0 = false)',
       'resting electrocardiographic results (1 = abnormal, 0 = normal)',
       'maximum heart rate achieved', 'exercise induced angina',
       'ST depression induced by exercise relative to rest',
       'number of major vessels (0 - 3) colored by flourosopy'],
      dtype=object)

In [11]:
dataset.target_names

array(['no heart disease', 'heart disease'], dtype='<U16')

In [12]:
dataset.frame.describe()

,age,"sex (1 = male, 0 = female)",resting blood pressure (on admission to the hospital),serum cholestoral in mg/dl,"fasting blood sugar > 120 mg/dl (1 = true, 0 = false)","resting electrocardiographic results (1 = abnormal, 0 = normal)",maximum heart rate achieved,exercise induced angina,ST depression induced by exercise relative to rest,number of major vessels (0 - 3) colored by flourosopy,target
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,54.528428,0.675585,131.668896,247.100334,0.147157,0.505017,149.505017,0.327759,1.051839,0.672241,0.461538
std,9.020950,0.468941,17.705668,51.914779,0.354856,0.500813,22.954927,0.470183,1.163809,0.937438,0.499354
min,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,0.000000,0.000000
50%,56.000000,1.000000,130.000000,242.000000,0.000000,1.000000,153.000000,0.000000,0.800000,0.000000,0.000000
75%,61.000000,1.000000,140.000000,275.500000,0.000000,1.000000,165.500000,1.000000,1.600000,1.000000,1.000000
max,77.000000,1.000000,200.000000,564.000000,1.000000,1.000000,202.000000,1.000000,6.200000,3.000000,1.000000

## Hypothyroid data:

In [13]:
dataset = load_hypothyroid()

In [14]:
dataset.feature_names

array(['thyroid-stimulating hormone value (TSH)',
       'triiodothyronine value (T3)', 'total thyroxine value (TT4)',
       'thyroxine uptake value (T4U)'], dtype=object)

In [15]:
dataset.target_names

array(['normal', 'hypothyroidism'], dtype='<U14')

In [16]:
dataset.frame.describe()

,thyroid-stimulating hormone value (TSH),triiodothyronine value (T3),total thyroxine value (TT4),thyroxine uptake value (T4U),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,0.046814,0.014696,0.072389,0.101213,0.500000
std,0.090068,0.007691,0.043934,0.017925,0.501675
min,0.000020,0.002000,0.002000,0.061000,0.000000
25%,0.001400,0.009000,0.033813,0.090000,0.000000
50%,0.006450,0.015000,0.069500,0.099500,0.500000
75%,0.047000,0.020600,0.109000,0.113000,1.000000
max,0.478000,0.032000,0.207000,0.157000,1.000000

## Diabetes data:

In [17]:
dataset = load_sk_diabetes()

In [18]:
dataset.feature_names

array(['age', 'sex', 'body mass index', 'average blood pressure',
       'total serum cholesterol', 'low-density lipoproteins',
       'high-density lipoproteins', 'total cholesterol / HDL',
       'log of serum triglycerides level', 'blood sugar level'],
      dtype='<U32')

In [19]:
dataset.target_names

array(['quantitative measure of diabetes disease progression one year after baseline (0 to 10)'],
      dtype='<U86')

In [20]:
dataset.frame.describe()

,age,sex,body mass index,average blood pressure,total serum cholesterol,low-density lipoproteins,high-density lipoproteins,total cholesterol / HDL,log of serum triglycerides level,blood sugar level,target
count,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000,442.000000
mean,48.518100,1.468326,26.375792,94.647014,189.140271,115.439140,49.788462,4.070249,4.641411,91.260181,3.960545
std,13.109028,0.499561,4.418122,13.831283,34.608052,30.413081,12.934202,1.290450,0.522391,11.496335,2.401651
min,19.000000,1.000000,18.000000,62.000000,97.000000,41.600000,22.000000,2.000000,3.258100,58.000000,0.000000
25%,38.250000,1.000000,23.200000,84.000000,164.250000,96.050000,40.250000,3.000000,4.276700,83.250000,1.931464
50%,50.000000,1.000000,25.700000,93.000000,186.000000,113.000000,48.000000,4.000000,4.620050,91.000000,3.598131
75%,59.000000,2.000000,29.275000,105.000000,209.750000,134.500000,57.750000,5.000000,4.997200,98.000000,5.809969
max,79.000000,2.000000,42.200000,133.000000,301.000000,242.400000,99.000000,9.090000,6.107000,124.000000,10.000000

## Breast Cancer data:

In [21]:
dataset = load_breast_cancer()

In [22]:
dataset.feature_names

array(['mean radius', 'mean texture', 'mean perimeter', 'mean area',
       'mean smoothness', 'mean compactness', 'mean concavity',
       'mean concave points', 'mean symmetry', 'mean fractal dimension',
       'radius error', 'texture error', 'perimeter error', 'area error',
       'smoothness error', 'compactness error', 'concavity error',
       'concave points error', 'symmetry error',
       'fractal dimension error', 'worst radius', 'worst texture',
       'worst perimeter', 'worst area', 'worst smoothness',
       'worst compactness', 'worst concavity', 'worst concave points',
       'worst symmetry', 'worst fractal dimension'], dtype='<U23')

In [23]:
dataset.target_names

array(['benign', 'malignant'], dtype='<U9')

In [24]:
dataset.frame.describe()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,target
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.048919,0.181162,0.062798,...,25.677223,107.261213,880.583128,0.132369,0.254265,0.272188,0.114606,0.290076,0.083946,0.372583
std,3.524049,4.301036,24.298981,351.914129,0.014064,0.052813,0.079720,0.038803,0.027414,0.007060,...,6.146258,33.602542,569.356993,0.022832,0.157336,0.208624,0.065732,0.061867,0.018061,0.483918
min,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,0.049960,...,12.020000,50.410000,185.200000,0.071170,0.027290,0.000000,0.000000,0.156500,0.055040,0.000000
25%,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.020310,0.161900,0.057700,...,21.080000,84.110000,515.300000,0.116600,0.147200,0.114500,0.064930,0.250400,0.071460,0.000000
50%,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.033500,0.179200,0.061540,...,25.410000,97.660000,686.500000,0.131300,0.211900,0.226700,0.099930,0.282200,0.080040,0.000000
75%,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.074000,0.195700,0.066120,...,29.720000,125.400000,1084.000000,0.146000,0.339100,0.382900,0.161400,0.317900,0.092080,1.000000
max,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.304000,0.097440,...,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500,1.000000