In [ ]:
import numpy as np
import pandas as pd

from llm_elicited_priors.datasets import (
    load_fake_data, load_uti, load_breast_cancer, 
    load_california_housing, load_wine_quality, load_heart_disease
)

## Fake data:

In [2]:
dataset = load_fake_data()

In [3]:
dataset.feature_names

array(['feature 0', 'feature 1', 'feature 2'], dtype=object)

In [4]:
dataset.target_names

array(['target'], dtype='<U6')

In [5]:
dataset.frame.describe()

        feature 0   feature 1   feature 2      target
count  250.000000  250.000000  250.000000  250.000000
mean    -0.040335   -0.057954   -0.037685   -0.059380
std      1.020356    0.976924    0.959565    2.315106
min     -2.964529   -2.409922   -2.566658   -6.272688
25%     -0.719637   -0.814574   -0.686765   -1.667914
50%     -0.073336   -0.087925    0.091005   -0.081608
75%      0.634185    0.485746    0.551376    1.543420
max      2.327653    2.913862    2.905067    5.981182

## UTI data:

In [6]:
dataset = load_uti()

In [7]:
dataset.feature_names

array(['bathroom frequency', 'bedroom frequency',
       'night time awake frequency', 'mean night time heart rate',
       'standard deviation of night time heart rate',
       'mean night time respiratory rate',
       'standard deviation of night time respiratory rate',
       'night time bathroom frequency', 'daytime bathroom frequency',
       'number of previous urinary tract infections',
       'sex (male = 0, female = 1)'], dtype='<U49')

In [8]:
dataset.target_names

array(['no urinary tract infection', 'urinary tract infection'],
      dtype='<U26')

## Breast Cancer data:

In [9]:
dataset = load_breast_cancer()

In [10]:
dataset.feature_names

array(['mean radius', 'mean texture', 'mean perimeter', 'mean area',
       'mean smoothness', 'mean compactness', 'mean concavity',
       'mean concave points', 'mean symmetry', 'mean fractal dimension',
       'radius error', 'texture error', 'perimeter error', 'area error',
       'smoothness error', 'compactness error', 'concavity error',
       'concave points error', 'symmetry error',
       'fractal dimension error', 'worst radius', 'worst texture',
       'worst perimeter', 'worst area', 'worst smoothness',
       'worst compactness', 'worst concavity', 'worst concave points',
       'worst symmetry', 'worst fractal dimension'], dtype='<U23')

In [11]:
dataset.target_names

array(['benign', 'malignant'], dtype='<U9')

In [12]:
dataset.frame.describe()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,target
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.048919,0.181162,0.062798,...,25.677223,107.261213,880.583128,0.132369,0.254265,0.272188,0.114606,0.290076,0.083946,0.372583
std,3.524049,4.301036,24.298981,351.914129,0.014064,0.052813,0.079720,0.038803,0.027414,0.007060,...,6.146258,33.602542,569.356993,0.022832,0.157336,0.208624,0.065732,0.061867,0.018061,0.483918
min,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,0.049960,...,12.020000,50.410000,185.200000,0.071170,0.027290,0.000000,0.000000,0.156500,0.055040,0.000000
25%,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.020310,0.161900,0.057700,...,21.080000,84.110000,515.300000,0.116600,0.147200,0.114500,0.064930,0.250400,0.071460,0.000000
50%,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.033500,0.179200,0.061540,...,25.410000,97.660000,686.500000,0.131300,0.211900,0.226700,0.099930,0.282200,0.080040,0.000000
75%,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.074000,0.195700,0.066120,...,29.720000,125.400000,1084.000000,0.146000,0.339100,0.382900,0.161400,0.317900,0.092080,1.000000
max,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.304000,0.097440,...,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500,1.000000

## California Housing data:

In [13]:
dataset = load_california_housing()

In [14]:
dataset.feature_names

array(['median income in block', 'median house age in block',
       'average number of rooms in block',
       'average number of bedrooms in block', 'block population',
       'average house occupancy in block', 'house block latitude',
       'house block longitude'], dtype='<U35')

In [15]:
dataset.target_names

array(['medium house value (in $100k)'], dtype='<U29')

In [16]:
dataset.frame.describe()

,median income in block,median house age in block,average number of rooms in block,average number of bedrooms in block,block population,average house occupancy in block,house block latitude,house block longitude,medium house value (in $100k)
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

## Wine Quality data:

In [17]:
dataset = load_wine_quality()

In [18]:
dataset.feature_names

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol'],
      dtype=object)

In [19]:
dataset.target_names

array(['bad quality', 'good quality'], dtype='<U12')

In [20]:
dataset.frame.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,target
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,0.633061
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.482007
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,0.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,0.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,1.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,1.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,1.000000

## Heart Disease data:

In [21]:
dataset = load_heart_disease()

In [22]:
dataset.feature_names

array(['age', 'sex (1 = male, 0 = female)',
       'resting blood pressure (on admission to the hospital)',
       'serum cholestoral in mg/dl',
       'fasting blood sugar > 120 mg/dl (1 = true, 0 = false)',
       'resting electrocardiographic results (1 = abnormal, 0 = normal)',
       'maximum heart rate achieved', 'exercise induced angina',
       'ST depression induced by exercise relative to rest',
       'number of major vessels (0 - 3) colored by flourosopy'],
      dtype=object)

In [23]:
dataset.target_names

array(['no heart disease', 'heart disease'], dtype='<U16')

In [24]:
dataset.frame.describe()

,age,"sex (1 = male, 0 = female)",resting blood pressure (on admission to the hospital),serum cholestoral in mg/dl,"fasting blood sugar > 120 mg/dl (1 = true, 0 = false)","resting electrocardiographic results (1 = abnormal, 0 = normal)",maximum heart rate achieved,exercise induced angina,ST depression induced by exercise relative to rest,number of major vessels (0 - 3) colored by flourosopy,target
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,54.528428,0.675585,131.668896,247.100334,0.147157,0.505017,149.505017,0.327759,1.051839,0.672241,0.461538
std,9.020950,0.468941,17.705668,51.914779,0.354856,0.500813,22.954927,0.470183,1.163809,0.937438,0.499354
min,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,0.000000,0.000000
50%,56.000000,1.000000,130.000000,242.000000,0.000000,1.000000,153.000000,0.000000,0.800000,0.000000,0.000000
75%,61.000000,1.000000,140.000000,275.500000,0.000000,1.000000,165.500000,1.000000,1.600000,1.000000,1.000000
max,77.000000,1.000000,200.000000,564.000000,1.000000,1.000000,202.000000,1.000000,6.200000,3.000000,1.000000